html, body, #root, .App {
  height: 100%;
  width: 100%; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.hidden {
  display: none !important; }

.Search {
  opacity: 1;
  transform: translateX(0);
  transition: opacity .33s ease-in, transform .25s ease-in; }

.Search.remove-search {
  transition: opacity .33s ease-in, transform .25s ease-in;
  transform: translateX(100%);
  opacity: 0; }

.question-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em; }

.search-header-container {
  display: flex;
  border-left: 1px solid #e6e6e6;
  width: 40em;
  margin: 0 auto; }

.search-tab {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F7F7F7;
  border: 1px solid #e6e6e6;
  border-left: none;
  height: 4em;
  font-size: 1em;
  cursor: pointer; }

.selected-search {
  background: #fff; }

.selected-search::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(151, 189, 61, 0.5); }

.search-form-input {
  color: black;
  display: block;
  width: 100%;
  font-size: 1em;
  padding: .75em;
  width: 21em;
  margin: 1em 0;
  background: rgba(255, 255, 255, 0.75);
  border-style: solid;
  border-color: rgba(254, 95, 85, 0.75);
  border-width: 0 0 .115em;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1); }

.search-form-input::placeholder {
  color: #818181; }

.search-link {
  font-family: "Varela Round", sans-serif;
  font-size: 1.15em;
  border: none;
  background: #6aad45;
  color: #E5E5E5;
  padding: 0.5em;
  margin: 0.67em auto;
  display: block;
  text-decoration: none;
  transition: background ease 0.33s;
  border-radius: 0.5em;
  width: 5em;
  cursor: pointer; }

.search-link:hover {
  background: #5f9b3e;
  color: white; }

.search-submit-wrap {
  display: inline-block; }
  .search-submit-wrap button {
    background-color: #6aad45 !important; }

@media only screen and (max-width: 768px) {
  .search-header-container {
    width: 100%;
    position: absolute;
    bottom: 0; }
  .header-text {
    display: none; }
  .search-tab {
    background-size: 3em;
    background-repeat: no-repeat;
    background-position: center; }
  .search-questions {
    background-image: url(../images/question.svg); }
  .search-tag-input {
    background-image: url(../images/tags.svg); }
  .search-users {
    background-image: url(../images/users.svg); }
  .question-search-container {
    display: block; }
  .question-answer-wrap {
    height: calc(100% - 4em) !important; }
  .user-answer-wrap.showing-answer {
    top: 0 !important;
    height: calc(100% - 4em) !important; } }

.question-answer-wrap, .user-answer-wrap {
  width: 90%;
  max-width: 50em;
  margin: 0 auto;
  height: auto;
  opacity: 0;
  transform: translateY(-200%);
  transition: opacity .33s ease-in, transform .25s ease-in; }

.user-answer-wrap {
  height: 100%; }

.question-answer-wrap td {
  white-space: normal !important; }

.user-answer-wrap {
  position: absolute;
  top: 0em; }

.question-answer-wrap.showing-answer, .user-answer-wrap.showing-answer {
  transition: opacity .33s ease-in, transform .25s ease-in;
  transform: translateY(0%);
  opacity: 1; }

.user-answer-wrap.showing-answer {
  top: 5em;
  width: 100%; }

.left-align {
  transition: opacity .33s ease-in, transform .25s ease-in;
  transform: translateX(-100%);
  opacity: 0; }

.right-align {
  transition: opacity .33s ease-in, transform .25s ease-in;
  transform: translateX(100%);
  opacity: 0; }

.visible-user {
  opacity: 1;
  transform: translateX(0);
  transition: opacity .33s ease-in, transform .25s ease-in; }

.user-profile-image {
  height: 10em;
  width: 10em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  border-radius: 50%; }

.user-array-wrap {
  position: relative;
  height: 15em;
  margin-top: 5em;
  width: 100%; }

.single-user-wrap {
  margin-left: auto;
  position: absolute;
  margin-right: auto;
  right: 0;
  left: 0; }

.user-name {
  font-size: 1.5em; }

.switch-buttons {
  display: inline-block;
  height: 2em;
  width: 2em;
  background-size: contain;
  background-repeat: no-repeat; }

.next-button {
  margin-left: 5em;
  background-image: url("./../images/forward.svg"); }

.prev-button {
  background-image: url("./../images/back.svg"); }

tr:first-child {
  width: 50% !important; }
