.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.hidden {
  display: none !important; }

.question-search-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.search-header-container {
  display: flex;
  border-left: 1px solid #e6e6e6;
  width: 40em;
  margin: 0 auto; }

.search-tab {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #F7F7F7;
  border: 1px solid #e6e6e6;
  border-left: none;
  height: 4em;
  font-size: 1em;
  cursor: pointer; }

.selected-search {
  background: #fff; }

.selected-search::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(151, 189, 61, 0.5); }

.search-form-input {
  color: black;
  display: block;
  width: 100%;
  font-size: 1em;
  padding: .75em;
  width: 21em;
  margin: 1em 0;
  background: rgba(255, 255, 255, 0.75);
  border-style: solid;
  border-color: rgba(254, 95, 85, 0.75);
  border-width: 0 0 .115em;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1); }

.search-form-input::placeholder {
  color: #818181; }

.search-link {
  font-family: "Varela Round", sans-serif;
  font-size: 1.15em;
  border: none;
  background: #63a313;
  color: #E5E5E5;
  padding: 0.5em;
  margin: 0.67em auto;
  display: block;
  text-decoration: none;
  transition: background ease 0.33s;
  border-radius: 0.5em;
  width: 5em;
  cursor: pointer; }

.search-link:hover {
  background: #558c10;
  color: white; }

.search-submit-wrap {
  display: inline-block; }

@media only screen and (max-width: 768px) {
  .search-header-container {
    width: 100%;
    position: absolute;
    bottom: 0; }
  .header-text {
    display: none; }
  .search-tab {
    background-size: 3em;
    background-repeat: no-repeat;
    background-position: center; }
  .search-questions {
    background-image: url(../images/question.svg); }
  .search-tag-input {
    background-image: url(../images/tags.svg); }
  .search-users {
    background-image: url(../images/users.svg); }
  .question-search-container {
    display: block; } }
