.question-answer-wrap, .user-answer-wrap
  width: 90%
  margin: 0 auto
  height: auto
  opacity: 0
  transform: translateY(-200%)
  transition: opacity .33s ease-in, transform .25s ease-in

.question-answer-wrap
  max-width: 50em
  // overflow: auto

.user-answer-wrap
  height: 100%

.question-answer-wrap td
  white-space: normal !important

.user-answer-wrap
  position: absolute
  top: 0em

.question-answer-wrap.showing-answer, .user-answer-wrap.showing-answer
  transition: opacity .33s ease-in, transform .25s ease-in
  transform: translateY(0%)
  opacity: 1

.user-answer-wrap.showing-answer
  top: 5em
  width: 100%

.left-align
  transition: opacity .33s ease-in, transform .25s ease-in
  transform: translateX(-100%)
  opacity: 0

.right-align
  transition: opacity .33s ease-in, transform .25s ease-in
  transform: translateX(150%)
  opacity: 0

.visible-user
  opacity: 1
  transform: translateX(0)
  transition: opacity .33s ease-in, transform .25s ease-in

.user-profile-image
  height: 10em
  width: 10em
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  margin: 1em auto 0.5em
  border-radius: 50%

.user-array-wrap
  position: relative
  height: 15em
  margin-top: 5em
  width: 100%

.single-user-wrap
  margin-left: auto
  position: absolute
  margin-right: auto
  right: 0
  left: 0

.user-name
  font-size: 1.5em

.switch-buttons
  display: inline-block
  height: 2em
  width: 2em
  background-size: contain
  background-repeat: no-repeat

.next-button
  margin-left: 5em
  background-image: url('./../images/forward.svg')

.prev-button
  background-image: url('./../images/back.svg')

tr:first-child
  width: 50% !important

table tr:nth-child(even)
  background-color: #f9f9f9
